<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="BambooApiUser" value="" />
    <add key="BambooApiKey" value="" />
    <add key="BambooApiUrl" value="https://api.bamboohr.com/api/gateway.php/YOURCOMPANY/v1" />
    <add key="BambooCompanyUrl" value="https://YOURCOMPANY.bamboohr.com" />
  </appSettings>
</configuration>